.Newsletter {
  &__Contianer {
    width: 100%;
    padding: 8rem 4%;
    background-color: #7d4ce5;
    background-image: url("../images/newsletter=bg-image.svg");
    background-repeat: no-repeat;
    background-size: cover;

    background-position: right;
    @media only screen and (max-width: 1200px) {
      background-size: cover;
      background-position: center;
    }
  }
  &__content {
    width: 103rem;
    margin: 0 auto;
    @media only screen and (max-width: 1200px) {
      max-width: 980px;
    }
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  &__form {
    width: 47rem;
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  &__button {
    height: 60px;
    color: #fff;
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #2a2d50;
    border-radius: 12px;
    &:disabled {
      opacity: 0.7;
    }
  }
  &__contentGdpr {
    margin: 1.6rem 0;
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 1024px) {
      margin: 4rem 0;
    }
  }
  &__checkbox {
    -webkit-transform: scale(2);
    border: none;
    margin: 1rem 0.4rem;
    border-radius: 10px;
    @media only screen and (max-width: 1024px) {
      width: 2rem;
      height: 2rem;
    }
  }
  &__gdpr {
    font-size: 1.2rem;
    line-height: 150%;
    margin-left: 2rem;
    color: #fff;
    text-align: left;
    font-weight: 400;
    display: block;
    cursor: pointer;
  }
  &__subheader {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 1rem;
  }
  &__header {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 140%;
    color: #ffffff;
  }
  &__paragraph {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    margin-top: 2.3rem;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 3rem;
  }
  &__email {
    padding: 1.8rem 2.8rem;
    height: 60px;
    width: 100%;
    background: #ffffff;
    color: #8a8cb9;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01),
      0px 15px 60px -28px rgba(23, 23, 28, 0.17);
    border-radius: 12px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    &::placeholder {
      color: #8a8cb9;
    }
  }
}
.fff {
  position: absolute;
  left: -5000px;
}
