.organiserHeader {
  width: 100vw;
  min-height: 59.5rem;
  background: #211c51;
  &__menu {
    display: flex;
    min-height: 7.2rem;
    padding: 0 4.4rem;
    justify-content: space-between;
    align-items: center;
  }
  &__organiserTitle {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
  }
  &__ul {
    display: flex;
  }
  &__li {
    margin-left: 3rem;
    color: #ffffff;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    padding-top: 0.5rem;
    font-size: 14px;
    line-height: 4rem;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    &:hover {
      opacity: 1;
      border-bottom: 1px solid #fff;
    }
  }
  &__button {
    display: flex;
    cursor: pointer;
    border: none;
    opacity: 0.7;
    background: transparent;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  &__buttonSpan {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    margin-left: 2rem;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
  }
  &__oneThird {
    width: 33%;
  }
  &__nav {
    display: flex;
    justify-content: flex-end;
  }
  &__basicInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__imageHero {
    margin: 5rem 0;
    width: 16rem;
  }
  &__h2 {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    margin-bottom: 1.8rem;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  &__p {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
  }
  &__links {
    width: 100%;
    display: flex;
    color: white;
    margin-top: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
  }
  &__externalLink {
    padding: 14px 36px;
    right: 444px;
    background: #ffffff;
    border-radius: 62px;
    color: #2a2d50;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    transition: ease 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__socialMedia {
    display: flex;
    height: 100%;
    padding: 1rem 0 0 0;
    align-items: center;
    a {
      display: block;
    }
  }
  &__socialMediaIcon {
    width: 3rem;
    height: 3rem;
    margin-right: 3rem;
    transition: ease 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
.organiserContainer {
  width: 103rem;
  margin: 0 auto;
}

.mainEvent {
  margin: -10rem auto 0 auto;
  width: 1240px;
  min-height: 444px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(48, 73, 162, 0.02),
    0px 15px 60px -28px rgba(23, 26, 53, 0.18);
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  height: 100%;
  &__logo {
    background: #f3f9f9;
    width: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 13px 0 0 13px;
  }
  &__logoImg {
    width: 29rem;
    height: 29rem;
  }
}
