.OrganiserHomepage {
  padding: 8rem 0;
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 103rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1024px) {
      padding: 0 2rem;
    }
  }
  &__title {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-align: cetner;
    margin: 0 auto;
    color: #2a2d50;
  }
  &__paragraph {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #6b32e3;
    line-height: 140%;
    text-align: center;
    &Span {
      text-decoration: underline;
    }
  }
  &__images {
    margin: 5rem 0;
  }
}
